/* header */
body {
    margin: 0;

}

p {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #008C40;
    height: 80px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.boutondeco a {
    font-size: 1em;
    margin: 0;
}

.boutondeco {
    background: #706974;
    padding: 0.3em 0.7em;
    border-radius: 20px;

}

.boutondeco svg {
    position: relative;
    top: 3px;
}

.liendeco {

    align-items: center;
}

header {
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img {
    float: left;
    height: 170px;
    width: auto;
}

/*HEADER*/

.container {
    width: 85%;
    margin: 0 auto;
    display: inline-block;
}

h1 {
    font-family: Tahoma;
    font: size 40px;
    text-align: center;
}

select {
    font-size: 20px;
    background-color: #8f8c8e;
    border-radius: 10px;
    width: 30%;
    padding: 10px 5px;
    text-align: center;
}

#selectdate {
    float: left;
    margin: 0px 20px 50px
}

#selectsection {
    float: right;
    margin: 5px;
}

table,
th,
td {
    border: 1px black solid;

}

table {
    border-spacing: 0;
    background: #B3B2B4;
    border-radius: 10px;
}

thead>tr {
    font-family: tahoma;
    font-size: 32px;
}

td {
    font-size: 20px;
    font-family: "Century-Gothic";
    text-align: center;
    padding: 5px;

}

@media screen and (max-width: 960px) {
    nav {
        flex-direction: column;
        height: 200px
    }

    h1 {
        margin-top: 40px;
    }

    table {
        overflow-x: auto
    }
}